.best,
.good,
.less,
.least {
  border-radius: 15px;
  padding: 5px;
  color: white;
}

.best {
  background-color:#00802b;
}

.good {
  background-color:#00cc44;
}

.less {
  background-color: #33ff77;
}

.least {
  background-color: #ccffdd;
}

.grey {
    background-color: grey;
}