.best,
.good,
.less,
.least {
  border-radius: 15px;
  padding: 5px;
}

.best {
  background-color:green;
}

.good {
  background-color: yellow;
}

.less {
  background-color:orange;
}

.least {
  background-color: red;
}

.grey {
    background-color: grey;
}