a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:hover {
  color: gold;
}

main {
  margin: 0 auto;
}

.line {
  height: 1px;
  background-color: silver;
  position: relative;
  margin: 10px 0;
}

.line-on {
  top: 50%;
  transform: translate(0, -50%);
  height: 10px;
  background-color: #7abcac;
  position: absolute;
  width: 100px;
}

.App {
  width: 1006px;
  /* height: 1384px; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.App-header {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 200px;
}

.rectangle {
  max-width: 1006px;
  height: 61px;
  background: #7abcac;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

select {
  border: none;
  outline: none;
  padding: 5px;
  margin: 20px;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}

.name-card {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 586px;
  height: 189px;
  border: 4px solid #000000;
  box-sizing: border-box;
  margin-top: -20px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 359px;
  height: 56px;
  font-weight: bold;
  font-size: 40px;
  color: #000000;
}

.black-title {
  width: 248px;
  background: #000000;

  font-weight: bold;
  font-size: 24px;
  color: white;
  text-align: center;
  margin: 5px;
}

/*FIRST CONTAINER */

.first-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  margin: 20px 0;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
}

.link-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.link-img:hover {
  filter: opacity(50%);
}

/*SECOND CONTAINER */

.second-container,
.third-container,
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  margin: 20px 0;
}

.second-cont-section {
  display: flex;
  flex-direction: column;
}

.green,
.yellow,
.orange {
  border-radius: 15px;
  padding: 5px;
}

.green {
  background-color: seagreen;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

/*THIRD CONTAINER */

.third-container > section {
  padding: 10px;
}

ul {
  padding: 15px;
}

.position {
  margin: 0 0 10px;
  font-weight: normal;
}

.position-info {
  margin: 0 0 5px;
  font-weight: lighter;
}

.border {
  border-right: 1px solid black;
}

.align-center {
  text-align: center;
}

/*FOOTER */

footer {
  align-content: center;
  justify-items: center;
  text-align: center;
}
