.App {
  width: 1006px;
  /* height: 1384px; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.align-center {
  text-align: center;
}

.App__black-title {
  width: 248px;
  background: #000000;
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-align: center;
  margin: 5px;
}

.App__second-container,
.App__third-container,
.App__footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  margin: 20px 0;
}

/* MAIN*/

main {
  margin: 0 auto;
}

.App__first-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  margin: 20px 0;
  gap: 20px;
}