/*WORK EXPERIENCE */

.App__third-container > section {
  padding: 10px;
}

.App__third-container--border {
  border-right: 1px solid black;
}

.App__third-container--border:last-child {
  border-right: none;
}

.App__third-container--job-position {
  padding: 0;
  margin: 0;
}
